@import "../variables/colors";
@import "../variables/fonts";

.hero {
  background: url(../../../dist/imgs/hero/hero-desktop.jpg) no-repeat top right /
    cover;

  .mask {
    background-color: rgba($color: $dark, $alpha: 0.5);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    min-height: 75vh;
    height: 100%;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__reviews {
    &__item {
      background-color: rgba($color: $dark, $alpha: 0.6);
      width: 100%;
      padding: 20px;
      border-radius: 4px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &__stars {
        display: flex;
        gap: 8px;
        margin-bottom: 20px;

        img {
          width: 20px;
        }
      }
    }
  }

  &__content {
    padding: 20px;
    border-radius: 4px;

    button {
      display: block;
      padding: 15px 20px;
      margin-top: 40px;
      background-color: $dark-orange;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      color: $light;
      cursor: pointer;

      transition: background 0.3s ease;
      &:hover {
        background-color: $orange;
      }
    }
  }
}
