@import "../variables/colors";

.synopsis {
  background-color: $dark-gray;
  padding: 40px 0;

  .title {
    text-align: center;
    padding: 0 0 40px;
  }

  &__text {
    color: $light;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 40px;
  }

  &__scenes {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    img {
      border-radius: 4px;
      min-width: 410px;
      width: 100%;
      @media only screen and (max-width: 576px) {
        min-width: 210px;
      }
    }
  }
}
