@import "colors";

$font-primary: "Poppins", sans-serif;
$font-secundary: 'Roboto Condensed', sans-serif;

.title {
  font-family: $font-primary;

  &--light {
    color: $light;
  }

  &--dark-orange {
    color: $dark-orange;
  }
}
